@font-face {
  font-family: 'Neuron';
  src: url('../font/neuron-heavy-webfont.woff2') format('woff2'),
       url('../font/neuron-heavy-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
