.page {
  font-family: $font-name;
  font-size: $btn-font;
  font-weight: bold;
  background-color: $color-page;
  background-image: $pattern-page;
  margin: 0;
  padding: 0;
  padding: 0 5vw;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 33vh 100px;
  position: relative;
}
