$font-name: 'Neuron', 'Arial', sans-serif;
$color-page: #25b9b3;
$white-color: rgba(255, 255, 255, 1);
$border-color: rgba(255, 255, 255, 0.3);
$pattern-page: url('../img/temp/page__bg.jpg');
$width: 135px;
$btn-font: 24px;
$radius: 50%;
