.slider {
  width: 550px;
  margin: 0 auto;
  justify-content: center;
  min-height: 180px;
  box-sizing: border-box;

  .slider__item-layout {
    width: $width;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }

  .slider__item {
    width: $width;
    height: $width;
    border-radius: $radius;
    border: 2px solid $border-color;
    position: relative;
    display: inline-block;

    .slider__image {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      height: 168px;
      transition: height 0.2s;
      transition-timing-function: cubic-bezier(.49,.35,.13,1.91);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      .slider__image {
        height: 178px;
      }
    }

    &--without {
      border: 4px solid $white-color;

      .slider__image {
        width: 61px;
        height: 153px;
      }

      &:hover {
        .slider__image {
          height: 163px;
        }
      }
    }
  }

  .slick-slide {
    margin: 0px 20px;
  }
}

.next,
.prev {
  perspective: 170px;
  position: absolute;
  top: 50%;
  margin: auto;
  width: 170px;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.btn {
  width: 100%;
  display: block;
  background-color: transparent;
  color: $white-color;
  font-size: $btn-font;
  border-radius: 10px;
  text-align: center;
  border: 1px solid $white-color;
  height: 60px;
  font-weight: bold;
  font-family: $font-name;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    display: block;
    width: 8px;
    height: 15px;
    position: absolute;
    background-repeat: no-repeat;
    top: 1px;
    bottom: 0;
    margin: auto;
    transition: all 0.3s;
  }

  &.btn-prev {
    transform: rotateX(-2deg) rotateY(9deg);

    &:before {
      background-image: url('../img/icon/arrow-prev.png');
      left: 40px;
    }
    &:hover {
      &:before {
        background-image: url('../img/icon/arrow-prev--hover.png');
      }
    }
  }

  &.btn-next {
    transform: rotateX(-2deg) rotateY(-9deg);

    &:before {
      background-image: url('../img/icon/arrow-next.png');
      right: 40px;
    }
    &:hover {
      &:before {
        background-image: url('../img/icon/arrow-next--hover.png');
      }
    }
  }

  &:hover {
    background-color: $white-color;
    color: $color-page;
  }
}

.slick-active {
  animation-name: activeSlide;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
