.slider {
  width: 550px;
  margin: 0 auto;
  justify-content: center;
  min-height: 180px;
  box-sizing: border-box;

  .slider__item-layout {
    width: $width;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-list {
    overflow: inherit;
  }
}
